<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79750402309-ip1562egfkhn3v0prab6k127h0rqovcc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79750402309-ip1562egfkhn3v0prab6k127h0rqovcc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>79750402309-7elu577ne4d69ldcadbjhibk79bnipg7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUm81WI9Bn23N0Y8Jwh2V9bDoJd7hbdiU</string>
	<key>GCM_SENDER_ID</key>
	<string>79750402309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.oikooficial</string>
	<key>PROJECT_ID</key>
	<string>oiko-oficial-45p72k</string>
	<key>STORAGE_BUCKET</key>
	<string>oiko-oficial-45p72k.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79750402309:ios:7923562a3e82646e62e76c</string>
</dict>
</plist>